<div class="container my-5">
    <h2>reset your account password</h2>
    <div *ngIf="apiError" class="alert alert-danger">
        {{apiError}}</div>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">
        <input type="email" id="email" formControlName="email" class="form-control mb-2 py-3" placeholder="Enter Your Email">
        <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="resetForm.get('email')?.getError('required')" class="mb-0">Email is required</p>
            <p *ngIf="resetForm.get('email')?.getError('email')" class="mb-0">Email is Invalid</p>
        </div>
        
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control mb-2 py-3" placeholder="Enter Your newPassword">
        <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched" class="alert alert-danger">
            <p *ngIf="resetForm.get('newPassword')?.getError('required')" class="mb-0">newPassword is required</p>
            <p *ngIf="resetForm.get('newPassword')?.getError('pattern')" class="mb-0">newPassword is Incorrect</p>
        </div>

        <button [disabled]="resetForm.invalid" type="submit" class="btn bg-main text-white me-auto d-block py-2 ">

            <span >reset password</span>
        </button>


    </form>

</div>


