<div class="container my-5">
    <div class="bg-main-light p-5" *ngIf="cartDetails?.data">
        <div class="d-flex justify-content-between">
            <h2>Cart Details:</h2>
            <button class="btn bg-main"><a [routerLink]="['/checkout/',cartDetails.data._id]" class="text-white">Check Out</a></button>
         </div>
        <div class="d-flex justify-content-between py-4">
            <h4>Total items : <span class="text-main">{{cartDetails.numOfCartItems}}</span></h4>
            <h4>Total price : <span class="text-main">{{cartDetails.data.totalCartPrice}}</span></h4>
        </div>
        <div class="row border-bottom" *ngFor="let product of cartDetails.data.products | filterProducts">
            <div class="col-md-1">
                <img [src]="product.product.imageCover" class="w-100" alt="">
            </div>
            <div class="col-md-9">
                <div class="item">
                    <h4>{{product.product.title}}</h4>
                    <p class="text-main">{{product.product.category.name}}</p>
                    <div class="d-flex align-items-center">
                        <p class="text-main mb-0">{{product.price}} EGP</p>
                        <button class="btn p-0 ms-4 text-danger" (click)="deleteItem(product.product.id)"><i
                                class="fa-regular fa-trash-can "></i>Remove</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-update" (click)="updateCount(product.count-1,product.product.id)">-</button>
                <span class="mx-2">{{product.count}}</span>
                <button class="btn btn-update" (click)="updateCount(product.count+1,product.product.id)">+</button>
            </div>
        </div>
    </div>

</div>