<section class="pb-5">
    <div class="container">
        <h2>please enter your verification code</h2>
        <div *ngIf="apiError" class="alert alert-danger">
            {{apiError}}</div>
        <form class="my-3" [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm)">
            <input formControlName="email" type="email" class="form-control py-3 " placeholder="Enter Your Email">
            <button [disabled]="forgotForm.invalid" type="submit" class="btn btn-lg me-auto btn-outline-success my-3">
                <span >Send Code</span></button>

        </form>
    </div>


</section>